<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.piashsarker.upay_felmo_lib">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:theme="@style/AppTheme.NoActionbar"
            android:name="com.upay.upay_felmo_lib.activity.UpayFelmoWebActivity">

        </activity>
    </application>w

</manifest>